.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    gap: 16px;

    img {
        width: 256px;
    }

    span {
        color: var(--color-primary);
    }
}
