:root {
    --color-primary: #fc4c00;
    --color-white: #b3b3b3;

    --color-background-secondary: #e0e0e0;
    --color-background: #fff;

    --color-button-primary: #fc4c00;
    --color-button-secondary: #333333;

    --color-text-button-inactive-primary: #c9c9c9;
    --color-text-button-inactive-secondary: #707070;
}
